.acerca{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.acerca>.descricao{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
}
.acerca>.descricao>.profile{
    height: 500px;
}
.profile>img{
    border-radius: 10px;
    border: 1px solid #15161b;
    width: 100%;
    height: 100%;
}
.descricao>.text{
    color: #333;
    justify-content: baseline;
    padding: 20px;
}
@media screen and (max-width:650px){
    .acerca>.descricao{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .acerca>.descricao>.profile{
        height: 300px;
        width: 200px;
    }
}